@font-face {
  font-family: "Marydale";
  src: url("//s3.amazonaws.com/eroc-holiday/Marydale.ttf");
}
#eroc-canvas {
  zoom: 50%;
  max-width: 100%;
  display: block;
}
#eroc-canvas-controls {
  margin: 10px 0px;
}
#eroc-canvas-controls .control {
  margin: 5px 0px;
}
@media (max-width: 400px) {
  #eroc-canvas-controls select {
    display: block;
  }
}
#eroc-canvas-buttons {
  margin: 10px 0px;
  text-align: center;
  max-width: 600px;
}
#eroc-canvas-buttons button {
  background: #eee;
  border: 1px solid black;
  padding: 5px 15px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
  transition: background 0.1s linear, transform 0.1s linear;
  margin-bottom: 5px;
}
#eroc-canvas-buttons button:hover {
  background: #ccc;
}
#eroc-canvas-buttons button:active {
  transform: translateY(1px);
  box-shadow: none;
}
#eroc-canvas-buttons button i.fa {
  margin-right: 5px;
}
#eroc-canvas-buttons #btn-share {
  background: #3b5998;
  color: white;
}
#eroc-canvas-buttons #btn-share:hover {
  background: #2b4782;
}
#uploading-modal-outer.active #uploading-modal-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  max-width: 85%;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 28px;
  width: 500px;
  z-index: 99999;
}
#uploading-modal-outer {
  display: none;
  transition: background 0.25s linear;
}
#uploading-modal-outer.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 99998;
}
#eroc-holiday-app input, #eroc-holiday-app select {
  /* prevent ios zoom on input focus */
  font-size: 16px;
}
#uploading-modal-inner video {
  max-width: 100%;
}
#other-container {
  display: none;
}